/* style.css */

/* Center the content vertically and horizontally */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

.project {
    background-color: #f7f6f6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.key {
    font-size: 24px;
    text-align: center;
    color: #fff;
}

#insert {
    text-align: center;
}
